html {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #181818;
    color: #e4e4ef;
    font-family: 'Cantarell', sans-serif;
}

a {
    color: #73c936;
    text-decoration: none;
    border-bottom: 0.01em solid;
}

.center-box {
    display: table-cell;
    vertical-align: middle;
}

.error {
    color: #ff4f58;
}


textarea {
    border: none;
    background: #282828;
    color: #e4e4ef;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-family: 'Monospace';
}

#login-box {
}

#login-button {
    width: 9em;
    height: 3em;
    font-size: 1.5em;
    background: #73c936;
    color: #181818;
    border: none;
    font-family: 'Cantarell', sans-serif;
}

#advanced-box {
    padding: 0.60em;
    font-size: 12pt;
}

#client-id-box {
    display: none;
}

#client-id {
    border: 0px;
    background: #282828;
    color: #e4e4ef;
    padding: 0.5em;
    font-family: 'Monospace';
    font-size: 12pt;
    width: 30em;
    text-align: center;
}

.box {
    margin-bottom: 0.5em;
}

#credentials-box {
    display: none;
}
